<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/customize.css}">
    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">码匠社区</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="搜索问题" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">发现 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">分享</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">文章</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">活动</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">下载</a>
            </li>
        </ul>
        <div th:if="${session.user} eq null">
            <a href="https://github.com/login/oauth/authorize?client_id=6d3188d15191a925e115&redirect_uri=http://localhost:8887/community/oauth/callback&state=1001">登入</a>
        </div>
        <a th:href="@{/publish}" class="btn btn-primary" th:if="${session.user} ne null">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-plus" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                <path fill-rule="evenodd"
                      d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
            </svg>
            发起
        </a>
        <div class="nav-item dropdown" th:if="${session.user} ne null">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                我
            </a>
            <div class="dropdown-menu dropdown-menu-style" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">消息中心</a>
                <a class="dropdown-item" href="#">个人资料</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">退出登入</a>
            </div>
        </div>
    </div>
</nav>
<div class="container container-style">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <h2>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-plus" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    <path fill-rule="evenodd"
                          d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                </svg>
                发起
            </h2>
            <hr>
            <form th:action="@{/publish}" method="post">
                <div class="form-row">
                    <h6 class="problem-h6-style">问题标题（简单扼要）:</h6>
                    <div class="form-group col-10">
                        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="问题标题：" th:value="${title}">
                    </div>
                    <div class="form-group col-2">
                        <select id="inputState" class="form-control" name="type">
                            <option selected disabled="disabled">选择分类</option>
                            <option>Java</option>
                            <option>c++</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">问题补充 (必填，请参照右侧提示):</label>
                    <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">添加标签:</label>
                    <input type="text" name="tag" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="创建或搜索添加新话题">
                </div>
                <div class="alert alert-danger message" role="alert" th:if="${error} ne null">
                    <h6>[[${error}]]</h6>
                </div>
                <button type="submit" class="btn btn-success btn-cus">发布</button>
            </form>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br>
            • 选择标签: 选择一个或者多个合适的标签，不超过10个字 <br>
            • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.
        </div>
    </div>
</div>
</body>
</html>